.brand-title Progress Report Data

= render "forms/horizontal/show/markdown", object: applicant, key: :approved_irb_protocols, key_name: "Approved IRB Protocols"
= render "forms/horizontal/show/generic", title: "IRB Approval and Protocols Document", content: render("applicants/show/approved_irb_document", applicant: applicant)
= render "forms/horizontal/show/markdown", object: applicant, key: :approved_iacuc_protocols, key_name: "Approved IACUC Protocols"
= render "forms/horizontal/show/generic", title: "IACUC Protocols Document", content: render("applicants/show/approved_iacuc_document", applicant: applicant)
