<div class="page-header"><h2>Submission Status</h2></div>

<dl class="dl-horizontal">
  <dt>Applicant assurance</dt>
  <dd><%= simple_check applicant.assurance %></dd>

  <dt>Submitted</dt>
  <dd><%= simple_time applicant.submitted_at %></dd>
</dl>
