- @title = "Register New Account"

- @theme = "default"

.page-box.last-box.d-flex.flex-column.justify-content-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container
    / %p.lead.text-center.text-white Create your account

    .sign-up-form
      .sign-up-form-title
        Create your account

      .text-center.mb-3= render "sites/resource_image"
      = render "devise/registrations/form", resource: resource

    .sign-up-form.text-center
      = link_to "I already have an account.", new_user_session_path
