.brand-title Progress Report Data

= render "forms/horizontal/text_area", form: form, object: applicant, key: :approved_irb_protocols, key_name: "Approved IRB Protocols", rows: 7
= render "forms/horizontal/file_field", form: form, object: applicant, key: :approved_irb_document, key_name: "Upload IRB Approval and Protocols Document", help_text: "PDF, Word"
= render "forms/horizontal/text_area", form: form, object: applicant, key: :approved_iacuc_protocols, key_name: "Approved IACUC Protocols", rows: 7
= render "forms/horizontal/file_field", form: form, object: applicant, key: :approved_iacuc_document, key_name: "Upload IACUC Protocols Document", help_text: "PDF, Word"
