<div class="page-header"><h2>Trainee Only</h2></div>

<div class="control-group">
  <%= f.label :research_project_title, class: 'control-label' %>
  <div class="controls">
    <%= f.text_field :research_project_title %>
  </div>
</div>
