-# General
%meta{ name: "description", content: "Training Grant applicant, trainee, and preceptor management system." }
%meta{ name: "author", content: "Remo Mueller" }
%meta{ name: "keywords", content: @keywords.present? ? @keywords : "t32 grant management, preceptor management, boston sleep" }
%meta{ name: "format-detection", content: "telephone=no" }
