- @title = "New Hospital"

- content_for :header, @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "hospitals", hospitals_path
    %li.breadcrumb-muted new hospital

.dashboard-container
  = render "form", hospital: @hospital
