- if applicant.annuals.present?
  .dashboard-container
    .btn-toolbar
      .btn-group.mr-2
        - applicant.annuals.reverse_each do |annual|
          - if annual.year == Time.zone.today.year
            </div><div class="btn-group mr-2">
          = link_to "Year #{annual.year}", current_user ? edit_annual_path(annual) : edit_me_annual_path(annual) , class: "btn #{ annual.submitted? ? "btn-light" : "btn-primary" }"
          - if annual.year == Time.zone.today.year
            </div><div class="btn-group mr-2">
