.footer-container {
  bottom: 0;
  height: $footer-height;
  position: absolute;
  transition: background-color .5s ease-out;
  width: 100%;

  .footer {
    height: $footer-height;
    padding: 40px 0;
  }

  img {
    @include ignore-selection;
  }

  > div {
    position: relative;
  }
}

@each $name, $theme in $themes {
  .theme-#{$name}-bg {
    .footer-custom {
      background-color: theme-color($theme, footer-bg, $p200-black);
      color: theme-color($theme, footer-color, $white);

      a {
        color: theme-color($theme, footer-color, $white) !important;
      }
    }

    .footer-custom-bg {
      background-color: theme-color($theme, footer-bg, $p200-black);
      color: theme-color($theme, footer-color, $white);
    }
  }
}
