span.selected {
  color: #5cb85c;
}

.tag_bubble {
  background-color: #ddd;
  padding: 1px 2px;
  margin: 0px 2px;
  border: 1px solid #bbb;

  -moz-border-radius: 5px; /* Mozilla */
  -webkit-border-radius: 5px; /* Webkit */
  border-radius: 5px;
}

td.warning {
  background-color: #fcf8e3;
}

.table-striped tbody > tr:nth-child(odd) > td.warning {
  background-color: #faf2cc;
}

td.error {
  background-color: #f2dede;
}

.table-striped tbody > tr:nth-child(odd) > td.error {
  background-color: #ebcccc;
}
