span.selected {
  color: #5cb85c;
}

td.warning {
  background-color: #fcf8e3;
}

.table-striped tbody > tr:nth-child(odd) > td.warning {
  background-color: #faf2cc;
}

td.error {
  background-color: #f2dede;
}

.table-striped tbody > tr:nth-child(odd) > td.error {
  background-color: #ebcccc;
}
