- @title = "Edit Seminar - #{@seminar.name_was}"

- content_for :header, @seminar.name_was
- content_for :breadcrumbs do
  %ol
    %li= link_to "seminars", seminars_path
    %li= link_to @seminar.name_was.to_s.downcase, @seminar
    %li.breadcrumb-muted edit

.dashboard-container
  = render "form", seminar: @seminar
