- @title = "New Seminar"

- content_for :header, @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "seminars", seminars_path
    %li.breadcrumb-muted new seminar

.dashboard-container
  = render "form", seminar: @seminar
