<% @title = "Preceptor Dashboard" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit", edit_me_preceptors_path, class: 'btn btn-mini' %>
  </h1>
</div>

<%= render partial: 'preceptors/show/general', locals: { preceptor: current_preceptor } %>
