- if resource_name == :applicant
  = image_tag 'student.png', style: 'max-width:100%;max-height:140px'
- elsif resource_name == :preceptor
  = image_tag 'preceptor.png', style: 'max-width:100%;max-height:140px'
- elsif resource_name == :user
  = image_tag 'administrator.png', style: 'max-width:100%;max-height:140px'

